:root {
    --clr-dark: #333;
    --clr-light-text: #ccc;
    --clr-light: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: var(--clr-dark);
}

h1 {
    font-size: calc(5vw + 15px);
    color: var(--clr-light-text);
    text-align: center;
    margin-bottom: 5vw;
}
p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--clr-light);
}

button {
    background: blueviolet;
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 2px;
    margin-top: 15px;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem;
}
.half {
    flex: 1;
    flex-basis: 350px;
}

.half:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half img {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.half button {
    align-self: flex-start;
}