:root {
    --clr-dark: #333;
    --clr-light-text: #ccc;
    --clr-light: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: calc(5vw + 15px);
    color: var(--clr-dark);
    text-align: center;
    margin-bottom: 5vw;
}
p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--clr-light-text);
}